<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link Shorter</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        font-family: monospace;
      }

      h2,
      a {
        color: #999999;
      }
      h1 {
        font-size: 28px !important;
        font-weight: bold !important;
      }
    </style>
  </head>
  <body>
    <!-- Made by danillpzz -->
    <div class="flex items-center justify-center h-[920px]">
      <form id="lform" class="form" action="/links" method="post" onsubmit="submitForm()">
        <h1>Link Shorter</h1>
        <h2>Enter your link into the input to short it.</h2>
        <div class="mt-6">
          <input
            type="url"
            id="url"
            class="value w-[240px] outline mr-3"
            placeholder="https://example.com"
            required
          />
          <button type="submit" onclick="submitForm()" class="w-12 outline">Submit</button>
        </div>
        <div class="mt-4">
          <a href="<%= objects.url %>" target="_blank"><%= objects.url %></a>
        </div>
      </form>
    </div>
    <div class="footer flex items-center justify-center">
      <h2>
        <a href="https://github.com/danilppzz/Link-Shorter" target="_blank">github</a> ▪ by
        <a href="https://danilppzz.dev/" target="_blank">danilppzz</a>
      </h2>
    </div>

    <script>
      function submitForm() {
        var form = document.getElementById("lform");
        var urlInput = document.getElementById("url");

        // Obtén el valor del campo de entrada
        var urlValue = urlInput.value;

        // Agrega el parámetro de consulta a la URL de acción
        form.action = "/links?l=" + encodeURIComponent(urlValue);

        // Envía el formulario
        form.submit();
      }
    </script>
  </body>
</html>
